.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.columns.contact-details img {
    max-width: 20px;
    height: auto;
    display: block;
    margin: 0 20px 0 0;
}
.columns.contact-details > div > div {
    flex: 1;
    order: unset;
}
.columns.contact-details h4,
.columns.contact-details p {
    margin: 0;
}

.columns.contact-details div {
  display: flex;
  width: auto;
  margin-bottom: 8px;
  align-items: baseline;
}
.columns.contact-details div:nth-child(2) h4:hover {
    animation: glow 1.5s infinite alternate;
}
.columns.contact-details div:nth-child(2) a {
  position: relative;
}

.columns.contact-details div:nth-child(2) a:hover:after {
  content: '← Email Me!';  
  position: absolute;
  right: -180px;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
  animation-iteration-count: infinite;
}
.columns.contact-details div:nth-child(2) #landline--mobile a:hover:after {
  content: '← Call Me!'; 
}
@keyframes bounce {
  from {
      transform: translate3d(0, 0, 0);
  }

  to {
      transform: translate3d(20px, 0, 0);
  }
}
@keyframes glow {
    0% {
        text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e;
    }
    100% {
        text-shadow: 0 0 5px #00d4ff, 0 0 10px #00d4ff, 0 0 20px #00d4ff;
    }
}

@media (width >= 1200px) {
  .columns.contact-details div:nth-child(1) {
    justify-content: flex-end;
    align-items: center;
  }
}
